In [65]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
# Read in data and display first 5 rows
features = pd.read_csv('temp.csv')
features.head(5)

   Unnamed: 0  year  month  day  week  temp_2  temp_1  average  actual  friend
0           0  2016      1    1   Fri      45      45     45.6      45      29
1           1  2016      1    2   Sat      44      45     45.7      44      61
2           2  2016      1    3   Sun      45      44     45.8      41      56
3           3  2016      1    4   Mon      44      41     45.9      40      53
4           4  2016      1    5  Tues      41      40     46.1      44      41

In [35]:
features.shape

(5, 10)

In [36]:
# Descriptive statistics for each column
features.describe()

,Unnamed: 0,year,month,day,temp_2,temp_1,average,actual,friend
count,5.000000,5.0,5.0,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,2.000000,2016.0,1.0,3.000000,43.800000,43.000000,45.820000,42.800000,48.000000
std,1.581139,0.0,0.0,1.581139,1.643168,2.345208,0.192354,2.167948,12.922848
min,0.000000,2016.0,1.0,1.000000,41.000000,40.000000,45.600000,40.000000,29.000000
25%,1.000000,2016.0,1.0,2.000000,44.000000,41.000000,45.700000,41.000000,41.000000
50%,2.000000,2016.0,1.0,3.000000,44.000000,44.000000,45.800000,44.000000,53.000000
75%,3.000000,2016.0,1.0,4.000000,45.000000,45.000000,45.900000,44.000000,56.000000
max,4.000000,2016.0,1.0,5.000000,45.000000,45.000000,46.100000,45.000000,61.000000

In [37]:
# One-hot encode the data using pandas get_dummies
features = pd.get_dummies(features)
# Display the first 5 rows of the last 12 columns
features.iloc[:,5:].head(5)

,temp_1,average,actual,friend,week_Fri,week_Mon,week_Sat,week_Sun,week_Tues
0,45,45.6,45,29,1,0,0,0,0
1,45,45.7,44,61,0,0,1,0,0
2,44,45.8,41,56,0,0,0,1,0
3,41,45.9,40,53,0,1,0,0,0
4,40,46.1,44,41,0,0,0,0,1

In [38]:
X = features.iloc[:, :-1].values
y = features.iloc[:, 1].values

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [40]:
clf = RandomForestClassifier()
clf.fit(X_train, y_train)

RandomForestClassifier()

In [41]:
y_pred = clf.predict (X_test)

In [42]:
y_pred

array([2016], dtype=int64)

In [72]:
clf.predict(X)

array([2016, 2016, 2016, 2016, 2016], dtype=int64)